header {
    background-color: black;
    text-align: center;
}

body {
    margin: 0;
}

.nom {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 98%;
}

h1 {
    font-family: vesper libre;
    font-size: 40pt;
    line-height: 1;
    margin: 16px;
}

h3 {
    font-family: open sans;
    font-weight: lighter;
    font-size: 16pt;
    margin: 16px;
    text-decoration: underline;
    text-decoration-color: firebrick;
    line-height: 4;

}

p {
    font-family: open sans;
    margin: 16px;
    font-size: 20pt;
}

p2 {
font-family: open sans;
font-size: 16pt;
margin: 16px;
color: dimgray;
line-height: 2;
font-style: italic;
}

h2 {
    font-family: open sans;
    font-size: 34pt;
    margin: 16px;
}

ul {
    font-family: vesper libre;
    font-size: 16pt;
    list-style-type: none;
    line-height: 1.7;
}

h4 {
    font-family: vesper libre;
    font-size: 16pt;
    font-weight: lighter;
    margin: 38px;
    
}

a {
    color: black;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}